<div class="bg">
    <div class="container">
        <div class="jumbotron">

            <div class="row">
                <div class="col">
                    <ol type="1">
                        {{#each questions}}
                        <li>
                            {{question}}
                        </li>
                        <ol type="a">
                            {{#each options}}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="financeQuestion{{@../index}}" id="radio{{@index}}" value={{@index}}>
                                <label class="form-check-label" for="radio{{@index}}">
                                    {{this}}
                                </label>
                            </div>
                            {{/each}}
                        </ol>

                        {{/each}}
                    </ol>

                    
                    <button type="button" class="btn btn-primary" id="submitFinance">Submit</button>
                    

                </div>

            </div>
        </div>
    </div>
</div>


<script>
    // We'll move this to index.js eventually
    $("#submitFinance").on("click", function (event) {
        var scores = [];

        // eventually change j < 10
        for (let j = 0; j < 10; j++) {
            var name = "financeQuestion" + j;
            var radios = document.getElementsByName(name);

            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    // do whatever you want with the checked radio
                    scores.push(parseInt(radios[i].value) + 1);

                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }
        }

        var sumOfScores = 0;
        for (let i=0; i<scores.length; i++) {
            sumOfScores += scores[i];
        }
        var avgOfScores = sumOfScores/scores.length;
        alert("Your finance score is: " + avgOfScores);
        location.href="/cleanliness";
    });
</script>